In [1]:
list1=[]

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2= [10,30,60]

In [4]:
print(list2)

[10, 30, 60]

In [5]:
list3= ["Asif", 25, [50,100],[150,90]]

In [6]:
print(list3)

['Asif', 25, [50, 100], [150, 90]]

In [7]:
len(list3)

4

In [8]:
print(list3[0])

Asif

In [10]:
print(type(list3[0]))

<class 'str'>

In [11]:
list[2]

list[2]

In [12]:
print(list3[2])

[50, 100]

In [14]:
print(list3[2][0])

50

In [15]:
list7= ["Asif", 25, [50,100],[150,90],{'John','David'}]

In [17]:
print(type(list7[4]))

<class 'set'>

In [20]:
List4=[1,2,3,4,5,6,7,8,9]

In [21]:
print(List4[3:9:2])

[4, 6, 8]

In [22]:
print(List4[::2])

[1, 3, 5, 7, 9]

In [23]:
list7.append('Any')

In [24]:
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}, 'Any']

In [25]:
list7.insert(7,'Tell')

In [26]:
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}, 'Any', 'Tell']

In [27]:
list7.insert(6,'Me')

In [28]:
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}, 'Any', 'Me', 'Tell']

In [29]:
list7.remove('Me')

In [30]:
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}, 'Any', 'Tell']

In [31]:
list7.pop(5)

'Any'

In [32]:
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}, 'Tell']

In [33]:
del list7[1]

In [34]:
list7

['Asif', [50, 100], [150, 90], {'David', 'John'}, 'Tell']

In [35]:
list7[0]='Arif'

In [36]:
list7

['Arif', [50, 100], [150, 90], {'David', 'John'}, 'Tell']

In [38]:
List4.clear()

In [39]:
List4

[]

In [40]:
del List4

In [41]:
List4

NameError: name 'List4' is not defined

In [42]:
list7

['Arif', [50, 100], [150, 90], {'David', 'John'}, 'Tell']

In [43]:
list71= list7.copy()

In [44]:
id(list71)

2018950538816

In [45]:
id(list7)

2018949943104

In [46]:
list7[1][1]=150

In [47]:
list7

['Arif', [50, 150], [150, 90], {'David', 'John'}, 'Tell']

In [48]:
list71

['Arif', [50, 150], [150, 90], {'David', 'John'}, 'Tell']

In [49]:
list71[1][1]= 100

In [50]:
list1= ['one','two','three','four']
list8= ['five','six','seven','eight']

In [51]:
list9=list1+list8

In [52]:
list9

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
list1.extend(list8)

In [56]:
list1

['one', 'two', 'three', 'four', 10, 30, 60, 'five', 'six', 'seven', 'eight']

In [59]:
list1.pop(6)

'six'

In [60]:
list1

['one', 'two', 'three', 'four', 30, 'five', 'seven', 'eight']

In [61]:
list1.pop(4)

30

In [62]:
list1

['one', 'two', 'three', 'four', 'five', 'seven', 'eight']

In [64]:
list1.reverse()

In [65]:
list1

['eight', 'seven', 'five', 'four', 'three', 'two', 'one']

In [68]:
list1=list1[::-1]

In [69]:
list1

['one', 'two', 'three', 'four', 'five', 'seven', 'eight']

In [70]:
list1.insert(5,'six')

In [71]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [72]:
list10=[10,8,6,1,3,4,9]

In [73]:
list10.sort()

In [74]:
list10

[1, 3, 4, 6, 8, 9, 10]

In [75]:
list10.sort(reverse=True)

In [76]:
list10

[10, 9, 8, 6, 4, 3, 1]

In [77]:
mystring="WELCOME"
mylist= [ i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [78]:
mylist1=[i for i in range(40) if i%2==0]

In [79]:
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [80]:
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [81]:
mylist3= [num**2 for num in range(10)]

In [82]:
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [83]:
mylist4= [i for i in range(300) if i%3==0 if i%9==0 if i%12==0]

In [84]:
mylist4

[0, 36, 72, 108, 144, 180, 216, 252, 288]

In [87]:
l1= [print("{} is even number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i  in range(10)]

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [89]:
mystr="One 1 Two 2 Three 3 Four 4 Five 5 6789"
num=[i for i in mystr if i.isdigit()]
num

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [1]:
myset={1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [3]:
len(myset) #length of set

5

In [6]:
my_tuple=(1,1,2,2,3,3,4,4,5,5)
my_tuple         # duplicates allowed

(1, 1, 2, 2, 3, 3, 4, 4, 5, 5)

In [7]:
myset= {1,1,2,2,3,4,3,4,5,5}

In [8]:
myset

{1, 2, 3, 4, 5}

In [10]:
Myst= set()
print(type(Myst))

<class 'set'>

In [11]:
MYstt={}

In [12]:
myset.add('One')   #add item using add() method

In [14]:
myset.update(['Ten','Eleven','Twelve'])       #Add Multiple items to a set
myset

{1, 2, 3, 4, 5, 'Eleven', 'One', 'Ten', 'Twelve'}

In [15]:
myset.remove('Ten') #removes item from a set
myset

{1, 2, 3, 4, 5, 'Eleven', 'One', 'Twelve'}

In [16]:
myset.discard('One')  #same as remove
myset

{1, 2, 3, 4, 5, 'Eleven', 'Twelve'}

In [18]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
A
B
A.union(B)   #union of a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
A.union(B,C) #Union of A,B,C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
A.update(B,C) #Union of A,B,C in A
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
A.intersection(B)

{4, 5, 6, 7, 8}

In [23]:
A.intersection_update(B)
A

{4, 5, 6, 7, 8}

In [24]:
A-B   #Elements in A not in B

set()

In [26]:
A = {1,2,3,4}
B = {3,4,5,6}
               #Elements in A not in B
A-B

{1, 2}

In [27]:
A = {1,2,3,4}
B = {3,4,5,6}

In [28]:
A.difference(B)  #Difference of A and B same as A-B

{1, 2}

In [29]:
A = {1,2,3,4,5}
B = {3,4,5,6,7}
A^B             #Symmetric Difference (Elements in A and B but not common elements)

{1, 2, 6, 7}

In [30]:
mydict = dict()  #Empty DICTIONARY

In [31]:
mydict = {}

In [32]:
mydict

{}

In [34]:
mydict = {1: 'One', 2:'Two', 3:'Three'} #dictionary with integers
mydict

{1: 'One', 2: 'Two', 3: 'Three'}

In [35]:
mydict.keys()  #Display only keys

dict_keys([1, 2, 3])

In [37]:
mydict.values() #display only values

dict_values(['One', 'Two', 'Three'])

In [38]:
mydict.items() #Display key-value pair

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

In [39]:
mydict = {1: 'One', 2:'Two', 3:'Three', 'A':['Arif','Muhammed'],'B':['Bat', 'Man']}
mydict

{1: 'One',
 2: 'Two',
 3: 'Three',
 'A': ['Arif', 'Muhammed'],
 'B': ['Bat', 'Man']}

In [43]:
mydict.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three'), ('A', ['Arif', 'Muhammed']), ('B', ['Bat', 'Man'])])

In [44]:
mydict(A)

TypeError: 'dict' object is not callable

In [45]:
mydict['A']

['Arif', 'Muhammed']

In [47]:
mydict['A'][0]

'Arif'

In [49]:
mydict1 = {1: 'One', 2:'Two', 'A':{'Name':'Arif','Age':23},'B':('Bat', 'Man')}

In [50]:
mydict1['A']['Name']

'Arif'

In [51]:
keys = {'a','b','c','d'}
value = 10
mydict3 = dict.fromkeys(keys,value)  #Create dict from sequence of  keys
mydict3

{'a': 10, 'c': 10, 'b': 10, 'd': 10}

In [52]:
mydict[1]  #Access item using key

'One'

In [53]:
mydict.get(1)  #access item using get() method

'One'

In [54]:
mydict2 = {'Name': 'Arif', 'ID': 12345, 'DOB' : 1991, 'Address' : 'Helsinki'}
mydict2

{'Name': 'Arif', 'ID': 12345, 'DOB': 1991, 'Address': 'Helsinki'}

In [57]:
mydict2['Pin'] = 654  #Add items in dictionary

In [56]:
mydict2

{'Name': 'Arif', 'ID': 12345, 'DOB': 1991, 'Address': 'Helsinki', 'Pin': 654}

In [58]:
mydict2['DOB'] = 1992 #Change dict items

In [59]:
mydict2

{'Name': 'Arif', 'ID': 12345, 'DOB': 1992, 'Address': 'Helsinki', 'Pin': 654}

In [61]:
 
mydict2.update({'Address': 'Delhi'}) #change dict items

In [63]:
mydict2

{'Name': 'Arif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi', 'Pin': 654}

In [65]:
mydict2.pop('Pin') #remove item from dict

KeyError: 'Pin'

In [66]:
mydict2.popitem()

('Address', 'Delhi')

In [67]:
del [mydict2['ID']]

In [68]:
mydict2.clear()
mydict2

{}

In [69]:
mydict1

{1: 'One', 2: 'Two', 'A': {'Name': 'Arif', 'Age': 23}, 'B': ('Bat', 'Man')}

In [73]:
for i in mydict1:
    print(i)  #Display key

1
2
A
B

In [74]:
for i in mydict1:
    print(mydict1[i])  #display value

One
Two
{'Name': 'Arif', 'Age': 23}
('Bat', 'Man')

In [76]:
for i,j in mydict1.items():     #Display key, value in dict i=key, j= value
    print(i,j)

1 One
2 Two
A {'Name': 'Arif', 'Age': 23}
B ('Bat', 'Man')

In [77]:
1 in mydict1 #Test if dict is in key or not

True

In [79]:
'One' in mydict2 #Test not possible for values

False

In [80]:
double = {i:i*2 for i in range(10)}  #Dictionary Comprehension for double
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [82]:
square = {i:i**2 for i in range(10)} #square using dict comprehension
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [83]:
key = ['one','two','three','four','five']
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(key,value)}

In [84]:
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [85]:
mydict1 = {'a': 10, 'b':20, 'c':30, 'd':40, 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

1. Python pgm that take a list of tuples as inputs where each tuple contains a name(string) and age(int) and returns a list of names sorted by age in descending order.

2. Python pgm that makes 2 list of integers as input and returns a new list containing only the common elements btw the 2 list using set operations and list comprehension.

3. Python pgm  that takes a dictionary containing  student names as keys and their exam scores as values and prints a formatted string listing the top 3 students with their scores.

4. Py pgm that takes a list of tuples containing student names and exam scores, calculate avg score of each student and return a new list of tuples containing  student name and their avg score.

5. Py pgm that takes a list of string as input and sort the string in ascending order based on their length and returns a single string containing all the sorted strings seperated by commas.

6. Py pgm that takes string(large) as input and returns a dictionary containing  frequency of each word in input string.

1. Python pgm that take a list of tuples as inputs where each tuple contains a name(string) and age(int) and returns a list of names sorted by age in descending order.

 Python pgm  that takes a dictionary containing  student names as keys and their exam scores as values and prints a formatted string listing the top 3 students with their scores.

In [1]:
students = {'Stephen': 80, 'Strange': 90, 'Fin':70, 'Fang': 50,'Foom': 60}

sort_studs = sorted(students.items()),# key = lambda x:x[1],reverse=True)

print(sort_studs)

([('Fang', 50), ('Fin', 70), ('Foom', 60), ('Stephen', 80), ('Strange', 90)],)

In [2]:
def addition(x,y):
    
    return x+y

In [3]:
addition(5,6)

11

In [4]:
def oddoreven(z):
    if z%2 == 0:
        y = "this num is even"
    else:
        y = "this num is odd"
    return y

In [5]:
oddoreven(5)

'this num is odd'

In [6]:


def append_func(x,lis):
    lis.append(x)
    return lis

In [7]:
new = []
append_func(5,new)

[5]

In [8]:
def factorial(num):
    if num <= 1:
        return 1
    else:
        return num*factorial(num-1)
factorial(0)

1

In [9]:
def add1(*args):
    return sum(args)

print(add1(1,2,3))
print(add1(1,2,3,4))
print(add1(1,2,3,4,5))
print(add1(1,2,3,4,5,6))

6
10
15
21

In [10]:
lst_1 = [1,2,3,4,5]
lst_2 = list( filter(lambda n:n%2==0,lst_1))
print(lst_2)

[2, 4]

In [11]:
input = "AAABBCCDA"
output = "A4B2C2D1"

In [12]:
def number(count):
    temp = {}
    count_1 = []
    
    for item in count:
        if item in temp:
            temp[item]+= 1
        else:
            temp[item] = 1
    for i,j in temp.items():
        count_1.append(i)
        count_1.append(str(j))
    str_1 = "".join(count_1)    

    return str_1
            
    
    
str_in = "AAABBCCDA"
number(str_in)

'A4B2C2D1'

filter(function,iterable)     #to check the condition [true or false]

map(function,iterable)   #to execute the condition [to perform]

reduce(function, iterable)  #to reduce

In [13]:
lst_new = [1,2,3,4,5,6,7,8,9]
odd_num = list(filter(lambda n: n%2 == 1, lst_new))
odd_num

[1, 3, 5, 7, 9]

In [14]:
rand = [1,2,3,4,8,9]
doubles = list(map(lambda x: x*2, rand))
doubles

[2, 4, 6, 8, 16, 18]

In [15]:
from functools import reduce

red = reduce(lambda a,b: a+b, doubles)     #reduce function
red

54

In [16]:
sum_all = reduce(lambda a,b : a+b, list(map(lambda n:n*2, list(filter(lambda n:n%2 == 1, rand)))))         #ALL functions together [reduce,map,filter]
sum_all

26

In [17]:
#CLASS Syntax:

class Myclass:                         #class name 1st letter be CAPS
    "Docstring"
    def __init__(self, var1,var2):   #self mustbe the 1st 
        self.var1 = var1
        self.var2 = var2




    def myfunc1(self):

SyntaxError: incomplete input (2468339244.py, line 12)

In [ ]:
class Employee:
    
    def __init__(self,name,empid):                #__init__ function is used to assign values
        self.name = name
        self.empid = empid
    
    def greet(self):                              #Class Method
        print("Thanks for joining ABC Company {}".format(self.name))

emp1 = Employee("Arif", 65432)                    #An employee object
emp2 = Employee("Muhammed", 98765)

print("Name:- ", emp1.name)
print("Employee ID:- ",emp1.empid)

print("Name:- ", emp2.name)
print("Employee ID:- ",emp2.empid)

emp1.greet()     
emp2.greet()

Name:-  Arif
Employee ID:-  65432
Name:-  Muhammed
Employee ID:-  98765
Thanks for joining ABC Company Arif
Thanks for joining ABC Company Muhammed

1. Write a py class named Car with class atribute wheels set to 4 given a class method info that prints the number of wheels.

2. Write a py class calculator with methods add, subtract, multiply and divide that perform the respective operations.

In [ ]:
emp1.name = 'Basit'        #modify object properties
emp1.name

'Basit'

In [ ]:
del emp1.empid             #delete object properties
emp1.empid

AttributeError: 'Employee' object has no attribute 'empid'

In [ ]:
del emp1

1. Write a py class named Car with class atribute wheels set to 4 given a class method info that prints the number of wheels.

In [ ]:
class Car:
    def __init__(self,wheels):
        self.wheels = wheels

    def info(self):
        print(f"The number of Wheels are: {self.wheels}")   
        
bmw = Car(4)         
print("BMW:- ",bmw.wheels)

bmw.info()

BMW:-  4
The number of Wheels are: 4

2. Write a py class calculator with methods add, subtract, multiply and divide that perform the respective operations.

In [1]:
class Calculator:
    
    numb1 = 0
    numb2 = 0

    res_a = 0
    res_s = 0
    res_m = 1
    res_d = 0

    def __init__(self,num1,num2):
        self.numb1 = num1
        self.numb2 = num2

    def add(self):
        self.res_a = self.numb1 + self.numb2
        return self.res_a
    
    def sub(self):
        if self.numb1 > self.numb2:
            self.res_s = self.numb1 - self.numb2
            return self.res_s
         
        elif self.numb1 < self.numb2:
            self.res_s = self.numb2 - self.numb1
            return self.res_s
          
        else:
            return self.res_s

    def mul(self):
        self.res_m = self.numb1 * self.numb2    
        return self.res_m

    def div(self):
        self.res_d = self.numb1/self.numb2
        return self.res_d

    


calc1 = Calculator(20,80)
print(calc1.add())

calc2 = Calculator(100,40)
print(calc2.sub())

100
60

In [19]:
for n in range(int(input())):
    name = input()
    score = float(input())
    
res = {name[i]:score[i] for i in range(len(name))}
records = list(res.items())
records()

TypeError: 'str' object is not callable

INHERITANCE

->provide code reusability in the program because we can use existing class to create a new class

-> Child class inherits data definitions and methods from parent class, Child can also add few more defn. or redefine a base class method.

In [3]:
class Person:                                        #Parent Class
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender

    def PersonInfo(self):
        print("Name :- {}".format(self.name))
        print("Age :- {}".format(self.age))
        print("Gender :- {}".format(self.gender))

class Student(Person):                             #Child Class
    def __init__(self, name, age, gender,studentid,fees):
        Person.__init__(self,name, age, gender)
        self.studentid = studentid
        self.fees = fees

    def StudentInfo(self):
        print("Student ID :- {}".format(self.studentid))
        print("Fees :- {}".format(self.fees))    

class Teacher(Person):                             #Child Class  
    def __init__(self, name, age, gender,empid,salary):
        Person.__init__(self,name, age, gender)
        self.empid = empid
        self.salary = salary

    def TeacherInfo(self):
        print("Employee ID :- {}".format(self.empid))
        print("Salary :- {}".format(self.salary))

stud1 = Student("Arif",23,"Male",112,2000)
print("Student Details")

stud1.PersonInfo()                                 #PersonInfo() method in parent class is accessed
stud1.StudentInfo()
print()


teach1 = Teacher("Basit",28,"Male",120,30000)
print("Teacher Details")

teach1.PersonInfo()
teach1.TeacherInfo()
print()

Student Details
Name :- Arif
Age :- 23
Gender :- Male
Student ID :- 112
Fees :- 2000

Teacher Details
Name :- Basit
Age :- 28
Gender :- Male
Employee ID :- 120
Salary :- 30000

In [7]:
class FindDuplicates:
    def __init__(self,lis):
        self.lis = lis

    def check_duplicates(self):
        new_set = set()
        for num in self.lis:
            if num in new_set:
                return True
            new_set.add(num)
        return False        



li = [1,2,3]
obj_1 = FindDuplicates(li)
obj_1.check_duplicates()

False

super() built in function allows to acces methods of Base/Parent Class.

In [8]:
#super() func is used

class Person:                                        #Parent Class      #MULTILEVEL INHERITANCE
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender

    def PersonInfo(self):
        print("Name :- {}".format(self.name))
        print("Age :- {}".format(self.age))
        print("Gender :- {}".format(self.gender))

class Student(Person):                             #Child Class
    def __init__(self, name, age, gender,studentid,fees):
        super().__init__(name, age, gender)
        self.studentid = studentid
        self.fees = fees

    def StudentInfo(self):
        super().PersonInfo()
        print("Student ID :- {}".format(self.studentid))
        print("Fees :- {}".format(self.fees))    

class Teacher(Person):                             #Child Class  
    def __init__(self, name, age, gender,empid,salary):
        super().__init__(name, age, gender)
        self.empid = empid
        self.salary = salary

    def TeacherInfo(self):
        super().PersonInfo()
        print("Employee ID :- {}".format(self.empid))
        print("Salary :- {}".format(self.salary))

stud1 = Student("Arif",23,"Male",112,2000)
print("Student Details")

stud1.PersonInfo()                                 #PersonInfo() method in parent class is accessed
stud1.StudentInfo()
print()


teach1 = Teacher("Basit",28,"Male",120,30000)
print("Teacher Details")

teach1.PersonInfo()
teach1.TeacherInfo()
print()

Student Details
Name :- Arif
Age :- 23
Gender :- Male
Name :- Arif
Age :- 23
Gender :- Male
Student ID :- 112
Fees :- 2000

Teacher Details
Name :- Basit
Age :- 28
Gender :- Male
Name :- Basit
Age :- 28
Gender :- Male
Employee ID :- 120
Salary :- 30000

In [10]:
class Person:                                        #Parent Class    
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender

    def PersonInfo(self):
        print("Name :- {}".format(self.name))
        print("Age :- {}".format(self.age))
        print("Gender :- {}".format(self.gender))

class employee(Person):                             #Child Class  
    def __init__(self, name, age, gender,empid,salary):
        Person.__init__(self,name, age, gender)
        self.empid = empid
        self.salary = salary

    def employeeInfo(self):
        print("Employee ID :- {}".format(self.empid))
        print("Salary :- {}".format(self.salary))   

class fulltime(employee):                         #GrandChild Class         
    def __init__(self, name, age, gender, empid, salary,WorkExperience):
        employee.__init__(self,name, age, gender, empid, salary)
        self.WorkExperience = WorkExperience
    
    def FulltimeInfo(self):
        print("Work Experience :- {}".format(self.WorkExperience)) 

class Contractual(employee):                       #GrandChild Class  
    def __init__(self, name, age, gender, empid, salary,ContractExp):
        employee.__init__(self,name, age, gender, empid, salary)
        self.ContractExp = ContractExp                            

    def ContractInfo(self):
        print("Contract Expiry :- {}".format(self.ContractExp))

emp3 = Contractual("Basit",28,"Male",120,30000,'12-12-2032')
print("Employee Details")

emp3.PersonInfo()
emp3.employeeInfo()
emp3.ContractInfo()
print()

Employee Details
Name :- Basit
Age :- 28
Gender :- Male
Employee ID :- 120
Salary :- 30000
Contract Expiry :- 12-12-2032

MULTIPLE INHERITANCE

Multiple Parent class  one Base class

1. Create a base class Employee with atributes Name and Salary and methods CalculateBonus and __str__ (to return empname and salary as a string) then create subclasses Manager and Developer that inherit from employee. The Manager class should have an additional atribute Bonuspercentage and override the CalculateBonus method to include the Bonus in salary calculation, The Developer class should have an additional atribute Programminglanguage and override the __str__ method to include the Programminglanguage in the string representation.

In [8]:
class Employee:
    def __init__(self,Name,Salary):
        self.Name = Name
        self.Salary = Salary
   
    def CalculateBonus(self):
        return self.Salary

    def __str__(self):
        print("Name :- {}".format(self.Name))
        print("Salary :- {}".format(self.Salary))
        
    
class Manager(Employee):
    def __init__(self, Name, Salary,Bonusperc):
        super().__init__(Name, Salary)
        self.Bonusperc = Bonusperc
        self.Bonusperc = ((Bonusperc/100)*self.Salary)

    def __str__(self):
        print("\n")
        print("Bonus:- {}".format(self.Bonusperc))
        return super().__str__()
          
        
class Developer(Employee):
    def __init__(self, Name, Salary,pgmlang):
        super().__init__(Name, Salary)  
        self.pgmlang = pgmlang 

    def __str__(self):
        print("Programming Language:- {}".format(self.pgmlang))
        return super().__str__()       
        
    

em1 = Developer("Messi",10000,"C")
print(em1.__str__())
em2 = Manager("Scaloni",30000,20)
print(em2.__str__())

Programming Language:- C
Name :- Messi
Salary :- 10000
None


Bonus:- 6000.0
Name :- Scaloni
Salary :- 30000
None